<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bulma.css">

  <meta name="theme-color" content="#fafafa">

  <style>
    #rect{
      display: block;
    }

    #redDot {
       width: 5px;
      height: 5px;
      background: red;
      border-radius: 50%;

    }

    .actionButton {
      width: 60px;
    }
  </style>

</head>

<body> <!-- FROM HERE -->




<div id="app" style="background: rgba(235,238,238,0.6)">
    <div class="container" style="height:auto" >
        <!-- info message -->
    <div class="columns">
        <span class="column is-6" style="background: rgba(235,238,238,0.35)">
                <span style="padding: 1em 0 0 0.5em; border-bottom: 1px dashed grey ">
                    <span style="font-weight: bolder">
                        Message:
                    </span>
                    <span v-if="showTimeAway">

                    <span>
                        Seconds since last save: {{ plTimeAway }}
                    </span>
                    </span>
                </span>
        </span>
    </div>

    <!-- progress -->
    <div class="columns" style="padding: 0.2em 2em 0 1.7em ">

            <div class="column is-2 ">
                <div style="display: block;">
                    <div ><progress class="progress is-primary is-small" :value="plHp" max="100">{{ plEn }}</progress></div>
                    <span >{{ plHp }}</span>
               </div>
                <label>
                    <progress class="progress is-primary is-small" :value="plEn" max="100" style="margin-bottom: 0.5em">{{ plEn }}</progress>
                    {{ plEn }}
                </label>


                <div class="column is-12 is-size-6" style="padding: 0; margin: 0"><p>Doing: <span style="font-weight: bold">{{ plCurrActivity }}</span></p></div>
                 </div>
            </div>


        <!-- statistics -->
        <div class="column is-6" style="padding:0 0.5em; margin: 0; font-size: 0.8em">
            EN: <span style="font-weight: bold; width: 2em; display: inline-block">{{ plEn}}</span>
            <span>HP: <span style="font-weight: bold; width: 2em; display: inline-block">{{ plHp}}</span></span>
            <span>EXP: <span style="font-weight: bold; width: 2em; display: inline-block">{{ plExp }}</span></span>
            <span>TR: <span style="font-weight: bold">{{ plTrain }}</span></span>
            <span>ZO: <span style="font-weight: bold">{{ plZombiesKilled }}</span></span>
            <span>BO: <span style="font-weight: bold">{{ plBossesKilledCount }}</span></span>
            <span>FO: <span style="font-weight: bold">{{  plFood  }}</span></span>
        </div>




                    <!-- button -->
        <div class="columns is-mobile" style="margin-top: 0.1em; margin-bottom: 0">

                    <div class="column is-3-mobile is-narrow">
                        <button @click="setActivity('sleep')" class="button is-small is-dark is-narrow " style=" border: 1px solid green; font-size: 0.8em; height:3em;   min-width: 70px; max-width: 100px; overflow: hidden">Sleep</button>
                    </div>

                    <div class="column is-3-mobile is-narrow">
                        <button @click="setActivity('sit') " class="button is-small is-dark is-narrow " style=" font-size: 0.8em; height:3em;  min-width: 70px; max-width: 100px; overflow: hidden ">Sit</button>
                    </div>

                    <div class="column  is-3-mobile is-narrow">
                       <button @click="setActivity('explore')"  class="button is-small is-dark is-narrow " style="font-size: 0.8em; height:3em;    min-width: 70px; max-width: 100px; overflow: hidden">Explore</button>
                    </div>

                     <div class="column  is-3-mobile is-narrow">
                       <button @click="setActivity('explore')"  class="button is-small is-dark  " style="font-size: 0.8em; height:3em;    min-width: 70px; max-width: 100px; overflow: hidden">Explore</button>
                    </div>



        </div>
         <div class="columns is-mobile " style="margin-top: 0.1em;">



                    <div class="column  is-3-mobile is-narrow ">
                        <button @click="setActivity('train')"  class="button is-small is-dark" style="font-size: 0.8em; height:3em;    min-width: 70px; max-width: 100px; overflow: hidden">Train</button>
                    </div>

                    <div class="column  is-3-mobile is-narrow ">
                        <button @click="setActivity('hunt')" class="button is-small is-dark" style="font-size: 0.8em; height:3em;   min-width: 70px; max-width: 100px; overflow: hidden">Hunt</button>
                    </div>

                     <div class="column  is-3-mobile is-narrow ">
                        <button @click="setActivity('fight')" class="button is-small is-dark" style="font-size: 0.8em; height:3em;   min-width: 70px; max-width: 100px; overflow: hidden">Fight</button>
                    </div>

                    <div class="column  is-3-mobile is-narrow ">
                        <button @click="setActivity('Eat')" class="button is-small is-warning" style="font-size: 0.8em; height:3em;   min-width: 70px; max-width: 100px; overflow: hidden">Eat</button>
                    </div>
            </div> <!-- button columns -->


        <div class="columns is-mobile">

            <div class="column is-3"></div>
        </div>














            <!-- monster fight -->
        <div v-if="bossMenuActive" class="column is-6 bbb">
            <div class="level bbb" style="min-height: 2em">
                {{ bossStatusMsg }}
            </div>


            <div class="tile bbb is-parent">



                <!-- progress -->

                <div class="tile is-child bbb" style="max-width: 150px">
                    <div class="tile is-child" style="max-width: 150px">
                        <img :src="bossImageUrl" style="max-width: 150px">
                    </div>
                    <label style="text-align: center"><span v-if="!isNaN(bossHp)"> Boss HP: <span style="color:red; font-weight: bold; font-size: 1.45em">{{ bossHp }} </span></span>
                        <progress style="max-width: 150px" ref="searchBoss" class="progress is-danger is-small" :value="bossHp"
                                  max="3000"></progress>
                    </label>
                </div>




                <!-- kill button -->
                <div class="tile is-child bbb is-vertical ">
                    <div class="tile">
                        <button :disabled="bossIsNowDead" @mousedown="buttonDown" @mouseup="buttonUp" style="height: 100px; width: 100px">Kill</button>
                    </div>
                    <div class="tile">
                        <button  @click="searchAgain" style="height: 40px; width: 100px">Again</button>
                    </div>
                </div>


            </div> <!-- parent tile -->













        </div>




    </div> <!-- container -->


    <div style="display:block; height:auto; margin-top: 200px">
    <button @click="a_resetPlEnergy">Reset Energy</button>
    <button @click="a_resetPlHp">Reset Hp</button>
    <button @click="a_energyMinus10">Energy - 10</button>
    <button @click="a_energyPlus10">Energy + 10</button>
    <button @click="a_resetFood">Reset food</button>
    <br>
    <button @click="a_resetExp">Reset exp</button>
    <button @click="a_resetTrain">Reset train</button>
    <button @click="a_resetZombies">Reset zombies</button>
    <div style="margin-left:100px">
        <ul ref="ullist">
            <li>Time</li>
        </ul>
    </div>
</div> <!-- buttons -->
    
    
    
</div> <!-- TO HERE -->



<script src="vue.js"></script>
<script src="main.js"></script>
</body>

</html>
