<!doctype html>
<html class="no-js" lang="">


<!--

 https://media1.tenor.com/images/a2670281a2bd0f1f6a22f8472c6813d0/tenor.gif?itemid=15624597

 -->



<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bulma.css">

  <meta name="theme-color" content="#fafafa">

  <style>
    #rect{
      display: block;
    }

    #redDot {
       width: 5px;
      height: 5px;
      background: red;
      border-radius: 50%;

    }

    .actionButton {
      width: 60px;
    }
  </style>

</head>

<body>
<div id="app">
  <div v-if="playerName = '' ">Name
    <input v-model="playerName" type="text">
    <button @click="saveName">Save</button>
  </div>
  <div v-else >
    <a href="">Add Name</a>
  </div>
  <hr>
  <br>

  <div class="container">

<div class="columns">
   <!-- progress -->
        <div class="column is-6">

          <label> Energy
          <progress class="progress is-primary is-small" :value="currentEnergy" max="100"> {{ currentEnergy }}
          </progress>
        </label>

        <label> Food
          <progress class="progress is-primary is-small" :value="food" :max="maxFood"> </progress>

        </label>

        </div>


</div>




    <div class="columns">
      <div class="column is-1" style="border: 1px dashed grey">
        <button @click="setActivity('sit')"  class="button is-small actionButton ">Sit</button><br>
    <button @click="setActivity('explore')" class="button is-small actionButton" >Explore</button><br>
    <button @click="setActivity('train')" class="button is-small actionButton" >Train</button><br>
    <button @click="setActivity('hunt')" class="button is-small actionButton" >Hunt</button><br>
    <button @click="setActivity('sleep')" class="button is-small actionButton" >Sleep</button><br>

      </div>








        <!-- table -->
        <div class="column is-3" style="border: 1px dashed grey">

       
          <table class="table is-narrow is-bordered">

            <tr>
              <td>Location:</td>
              <td>{{plCurrLocation}}</td>
            </tr>

              <tr>
              <td>z killed</td>
              <td>{{ zombiesKilled }}</td>
            </tr>
            <tr>
              <td>Level</td>
              <td>{{ expPoints }}</td>
            </tr>

            <tr>
              <td>Train</td>
              <td>{{ trainPoints }}</td>
            </tr>


            <tr>
              <td>Energy</td>
              <td>{{ currentEnergy }}</td>
            </tr>

            <tr>
              <td>Food</td>
              <td>{{ food }}</td>
              <td>
                <button :disabled="currentEnergy>100" @click="eatFood">Eat</button>
              </td>
            </tr>


          </table>
        </div>

      
      
      <div style="border: 1px dashed gray">
       <div v-if="currentStatus === 'sit'" style="max-width: 200px; max-height: 300px" >
        <img src="https://i.imgur.com/GCM9521.png">
      </div>

      <div v-if="currentStatus === 'train'" style="max-width: 200px; max-height: 300px">
        <img src="https://media1.tenor.com/images/a2670281a2bd0f1f6a22f8472c6813d0/tenor.gif">
      </div>

      <div v-if="currentStatus === 'explore'" style="max-width: 200px; max-height: 100%">
        <img src="https://i.imgur.com/OSB9Fr5.png">
      </div>


      <div v-if="currentStatus === 'sleep'" style="max-width: 200px; max-height: 300px">
        <img src="https://i.imgur.com/sqfAjDX.png">
      </div>

      <div v-if="currentStatus === 'hunt'" style="max-width: 200px; max-height: 300px">
        <img src="https://2.bp.blogspot.com/-vzSUJ5mZ-3w/UHyka0Fp_lI/AAAAAAAAWHk/b6udh7xyGV4/s640/tumblr_mbxaxlk2Sa1qi2c9do1_500.gif">
      </div>

</div>
 </div>

      
      
      
      <div class="columns">
          <div class="column is-6">
               <div>
                <p>{{ attackMsg }}</p>
            </div>
          </div>
      </div>
      
      
      <!-- zombie fight -->
    <div class="columns">

      <div class="column is-6" style="border: 1px dashed gray">


        <div class="level">
          <div class="column is-3" style="border: 1px dashed gray">
            <button @click="attackAZombieActivity" class="button is-small">Find</button>

          </div>

          <div class="column is-9" style="border: 1px dashed gray">
            <progress class="progress is-primary is-small" :value="randomZombieHP" max="100"> </progress>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- container -->



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <table class="table is-narrow is-bordered">
    <tr>
      <td><button @click="addEnergy">Add E</button></td>
      <td><button @click="resetEnergy">Reset E</button></td>
      <td><button @click="a_addFood">Food 50</button></td>

    </tr>
  </table>










</div>

<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>

<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>

</html>
